/*menu*/
a.text-base.font-medium.transition-colors.hover\:text-primary.text-muted-foreground {
    padding-top: 5px;
}
a.text-base.font-medium.transition-colors.hover\:text-primary.text-primary {
    padding-top: 5px;
}
/*img hero*/
section.relative.overflow-hidden.bg-primary\/5 {
    background: url(../public/agroinsumos.jpg
    )
}
.mx-auto.max-w-2xl.text-center {
    background: #f8f8f863;
    padding: 30px 15px 30px 15px;
}
p.mt-6.text-pretty.text-lg.leading-relaxed.text-muted-foreground {
    color: #1c241c;
}

